@page "/"

<AuthorizeView>
    <Authorized>
        <PageTitle>Index</PageTitle>

        <h1>Hello @context.User.Identity.Name!</h1>

        <p>Welcome to Tamaris App</p>
    </Authorized>
    <Authorizing>
        <h1>Loading the app...</h1>
    </Authorizing>
</AuthorizeView>