@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Tamaris.Web.Components.Profile
@using Tamaris.Web.Services

@inject NavigationManager Navigation
@inject IAccountService AuthorizerService

<link href="css/user-profile.css" rel="stylesheet" />

<AuthorizeView>
    <Authorized>
        <button class="nav-link btn btn-link" @onclick="OpenProfile">@context.User.Identity?.Name</button>

        <button class="btn btn-outline-info position-relative" @onclick="OpenMessages">
            <i class="fa fa-envelope"></i> <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">9</span>
            </button>

        <button class="nav-link btn btn-link ms-2" @onclick="BeginSignOut">
            <i class="fas fa-power-off"></i>
        </button>
    </Authorized>
    <NotAuthorized>
        <a href="account/login">Sign in</a>
        <a href="account/register">Register</a>
    </NotAuthorized>
</AuthorizeView>

<UserProfileCard @ref="FormUserProfileDialog"></UserProfileCard>



@code {
    protected UserProfileCard FormUserProfileDialog { get; set; }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await AuthorizerService.Logout();
        Navigation.NavigateTo("/", true);
    }

    private async Task OpenProfile(MouseEventArgs args)
    {
        FormUserProfileDialog.Show();
    }

    private async Task OpenMessages(MouseEventArgs args)
    {
        Navigation.NavigateTo("/messages", false);
    }

}

